.home-btn {
  color: white;
  text-decoration: none;
}

.grid-post {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.cart-img {
  width: 50px;
}

#user-btn {
  margin: 10px;
}